html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Comfortaa", cursive, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #32021f;
}

.left {
    width: 29%;
    float: left;
    height: 100%;
    background-color: #7284a8;
    padding-top: 75px;
}

.left>h1 {
    text-align: center;
    font-size: 50px;
    -webkit-text-fill-color: #7cdedc;
}

.left>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    width: 100%;
    float: right;
    height: 100%;
    background-color: #a9b3ce;
    font-size: 20px;
    padding-top: 75px;
}

.about {
    text-align: center;
    float: right;
    padding-top: 100px;
    position: absolute;
    padding-left: 75px;
}

.about>p {
    text-align: center;
    padding-left: 5px;
}

.about h1 {
    font-size: 40px;
}

.container {
    display: flex;
    height: 100%;
}

.facts {
    float: left;
    padding-top: 500px;
    position: absolute;
    padding-left: 200px;
}

.facts li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social {
    position: absolute;
    text-align: center;
    padding-left: 10%;
    padding-top: 40px;
    -webkit-text-fill-color: #7cdedc;
}

.social img {
    padding-left: 10px;
}

.bar {
    position: absolute;
    height: 100%;
    width: 2%;
    background-color: #9e788f;
    padding-top: 75px;
}

.projects {
    float: right;
    padding-left: 800px;
    position: absolute;
    padding-top: 500px;
}

.projects li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}